PORT=5000
MONGO_URI=mongodb+srv://technotech:vf3zmGEjLKMohE6C@cluster0.edhsgnf.mongodb.net/technotech?retryWrites=true&w=majority
COLLECTION_NAME=technotech
IMGBB_API_KEY=e684619df3cc8614b21e1b4f826b7fff
